<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Punto 2 | Los perros de Mario</h1>
    <p>Mario es el empleado más nuevo de la guardería, de modo que es al que más trabajo le asignan los jefes. Y es sabido que cuidar los perros pequeños es la tarea más tediosa en toda la guardería</p>
    <h2>La cantidad de perros de Maqrio tedioso de cuidar (menor de 3kg): {{info}}</h2>
</body>
</html>